name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: suleymankonak
          snake_animation_speed: 2
          snake_color: '#00ff99'
          outputs: |
            dist/github-contribution-grid-snake.gif?algorithm=classic
            dist/github-contribution-grid-snake-dark.gif?palette=github-dark&algorithm=classic

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
